<h1>{{isString}}</h1>
<input type="text" [(ngModel)]="isInput" />
{{isInput}}
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th>Setting</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of data">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>
                    <button class="btn btn-danger" (click)="onHandleClick(product.id)">Delete</button>
                    <button class="btn btn-info ms-2" (click)="onHandleDetail(product)">Detail</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <app-product-detail [pro]="isProducts"></app-product-detail>
    </div>
</div>