<h1>{{isString}}</h1>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th>Images</th>
                <th>Description</th>
                <th>Setting</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of data">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>
                    <img src={{product.img}} width="200px"/>
                </td>
                <td>{{product.desc}}</td>
                <td>
                    <button class="btn btn-danger" (click)="onHandleClick(product.id!)">Delete</button>
                    <button class="btn btn-info ms-2" >
                        <a routerLink="/products/{{product.id}}/detail">Detail</a>
                    </button>
                    <button class="btn btn-success ms-2" >
                        <a routerLink="/products/{{product.id}}/edit">Update</a>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
    </div>
</div>