<h1>Add category</h1>

<form (submit)="onSubmit()" action="" class="form" #formAddCate="ngForm">
    <div class="form-group">
        <label for="">Name:</label>
        <input [(ngModel)]="category.name" type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Image:</label>
        <input (change)="onChangeGetImg($event)" type="file" name="img" class="form-control">
        <img src={{category?.img}} alt="" width="200px">
    </div>
    <button class="btn btn-success mt-4">Submit</button>
</form>
